MonoGame/.vs/MonoGame/FileContentIndex/e1e4db55-c63c-4e2e-9772-cf790c76d5e8.vsidx
MonoGame/.vs/MonoGame/FileContentIndex/1e5eab8b-c8d4-44cf-a417-084da3864053.vsidx
MonoGame/.vs/MonoGame/FileContentIndex/cfe26f02-5987-4be6-b1d2-febe5f68be8b.vsidx
MonoGame/.vs/MonoGame/FileContentIndex/d0688f1b-c020-4143-b8f9-c47f6fa8e009.vsidx
MonoGame/.vs/MonoGame/FileContentIndex/f8ba2513-3172-4a65-ac9b-56c7236c55f1.vsidx
MonoGame/.vs/ProjectEvaluation/monogame.strings.v9.bin
MonoGame/.vs/ProjectEvaluation/monogame.projects.v9.bin
MonoGame/.vs/ProjectEvaluation/monogame.metadata.v9.bin
MonoGame/.vs/MonoGame/v17/fileList.bin
MonoGame/.vs/MonoGame/v17/DocumentLayout.backup.json
MonoGame/.vs/MonoGame/v17/.suo
MonoGame/.vs/MonoGame/v17/.futdcache.v2
MonoGame/.vs/MonoGame/DesignTimeBuild/.dtbcache.v2
MonoGame/.vs/MonoGame/DesignTimeBuild/.dtbcache.v2
MonoGame/.vs/MonoGame/DesignTimeBuild/.dtbcache.v2
MonoGame/.vs/MonoGame/v17/.futdcache.v2
MonoGame/.vs/MonoGame/v17/.suo
MonoGame/.vs/MonoGame/v17/DocumentLayout.backup.json
MonoGame/.vs/ProjectEvaluation/monogame.metadata.v9.bin
MonoGame/.vs/ProjectEvaluation/monogame.projects.v9.bin
MonoGame/.vs/ProjectEvaluation/monogame.strings.v9.bin
